doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title AngularJS Google Plus Sign-in Button Directive
    meta(name='description', content='A directive for AngularJS to provide a Google Plus Sigin-in Button')
    link(href='//netdna.bootstrapcdn.com/bootswatch/2.3.0/cerulean/bootstrap.min.css', rel='stylesheet')
  body.container
 
    h2 In action
    .row
      .span6(ng-app='ExampleSigninApp')
        div(ng-controller='ExampleCtrl', ng-init='scopes= "{{allScopes}}"')
          google-plus(clientid='245191548552-vujc8vve2jhecalotdvvl109njj0i8fv', googlescopes='https://www.googleapis.com/auth/userinfo.profile', info = 'https://www.googleapis.com/oauth2/v2/userinfo')          
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
    script(src='../google-plus.js')
    script.
      angular.module('ExampleSigninApp', ['google-signin'])
      .controller('ExampleCtrl', function ($scope) {
      $scope.allScopes='www.googleapis.com/auth/userinfo.profile';
      });
